/vendor/
.php~
/ezpublish/cache/
/ezpublish/logs/
/ezpublish/config/parameters.yml
/ezpublish/config/ezpublish_prod.yml
/ezpublish/config/ezpublish_dev.yml
/ezpublish/sessions
/ezpublish/bootstrap.php.cache
/ezpublish_legacy/var/autoload/ezp_extension.php
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/bundles/
/web/design
/web/extension
/web/share
/web/var
composer.phar
composer.lock
.buildpath
.project
.settings/
variables.bash
Install.md